<ion-header>
  <ion-toolbar>
    <ion-title>
      Salat Times
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Fajr
      </ion-col>
      <ion-col>
        {{ fajr }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Dhuhr
      </ion-col>
      <ion-col>
        {{ dhuhr }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Asr
      </ion-col>
      <ion-col>
        {{ asr }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Maghrib
      </ion-col>
      <ion-col>
        {{ maghrib }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Isha
      </ion-col>
      <ion-col>
        {{ isha }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
